<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  <variable name="myvar" value="myvalue"/>
  -->

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    -->
    <target xsi:type="File" name="f"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    
    <target xsi:type="File" name="file" encoding="utf-8"
            fileName="${basedir}/Logs/${shortdate}/${logger}.log"
            layout="${longdate} | ${uppercase:${level}} | TID:${threadid} | ${message} ${newline}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
      name：*匹配所有日志消息，可通过SomeNamespace.Component.*来表示只对以指定前缀命名的组件的日志消息进行记录
      minlevel：将指定级别或者更高（Trace<Debug<Info<Warn<Error<Fatal）的日志转发到writeTo目标位置。
      levels：仅限将指定级别(多个级别间以逗号分隔)的日志转发到writeTo目标位置。
      writeTo：对应上方的targets节点中配置的日志转存目标
    -->
    <logger name="*" minlevel="Debug" writeTo="file" />

    <!--
    <logger name="*" levels="Debug,Info" writeTo="log" />
    -->
  </rules>
</nlog>
